<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Branching Tests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76ae94">  <td>18/09/13 09:43:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RoundRobinTest.roundRobinTest(java.lang.String, java.lang.String)[pri:0, instance:naplanTests.RoundRobinTest@61832929]">roundRobinTest</td> 
  <td>main@1273765644</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>18/09/13 10:13:49</td>   <td>1838674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RT2Test.roundRobinTest(java.lang.String, java.lang.String)[pri:0, instance:naplanTests.RT2Test@29774679]">roundRobinTest</td> 
  <td>main@1273765644</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/09/13 10:44:20</td>   <td>3669822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RT3Test.roundRobinTest(java.lang.String, java.lang.String)[pri:0, instance:naplanTests.RT3Test@3ffc5af1]">roundRobinTest</td> 
  <td>main@1273765644</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/09/13 11:14:49</td>   <td>5498757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RT4Test.roundRobinTest(java.lang.String, java.lang.String)[pri:0, instance:naplanTests.RT4Test@55f3ddb1]">roundRobinTest</td> 
  <td>main@1273765644</td>   <td></td> </tr>
</table>
